In [1]:
import os
import csv
import pandas as pd
import matplotlib as plt
import numpy

In [2]:
# Get the data together from the csv
csvpath = os.path.join("ParseableData_Table-21.csv")
sex_type = ''
data = {
    'Year' : [],
    'Total' : [],
    'White' : [],
    'Black' : [],
    'Asian' : [],
    'Hispanic' : [],
    'Sex (M or F)' : []
}

with open(csvpath, newline='') as csvfile:
    csvread = csv.reader(csvfile, delimiter=',')
    
    for row in csvread:
        try:
            if row[0] in ['', 'Year']:
                next
            elif row[0] in ['Total', 'Women', 'Men']:
                sex_type = row[0]
            elif int(row[0]) in range(1979, 2020):
                data['Year'].append(int(row[0]))
                data['Total'].append(row[1])
                data['White'].append(row[2])
                data['Black'].append(row[3])
                data['Asian'].append(row[4])
                data['Hispanic'].append(row[5])
                data['Sex (M or F)'].append(sex_type)
        except ValueError:
            print(f"Skipping Row\n{row}\n")

Data_df = pd.DataFrame(data=data, columns=data.keys())
Data_df

Skipping Row
['ï»¿"Table 21. Inflation-adjusted median hourly earnings', ' by race and Hispanic or Latino ethnicity', ' for wage and salary workers paid hourly rates', ' 1979-2018 annual averages"', '', '', '', '', '']

Skipping Row
['[In constant 2018 dollars]', '', '', '', '', '']

Skipping Row
['Note: The comparability of historical labor force data has been affected at various times by methodological and other changes in the Current Population Survey (CPS). Information about historical comparability is online at https://www.bls.gov/cps/documentation.htm#comp. As of 2003, estimates for the race groups shown (White, Black or African American, and Asian) include people who selected that race group only; people who selected more than one race group are not included. Prior to 2003, people who reported more than one race were included in the group they identified as the main race. Asian data for 2000-2002 are for Asians and Pacific Islanders. As of 2003, Asians constitute a separate category. Data for Asians were not tabulated prior to 2000. People of Hispanic or Latino ethnicity may be of any race; estimates for the race groups include Hispanics. The Consumer Price Index research series using current methods (CPI-U-RS) is used to convert current dollars to constant (inflation-adjusted) dollars. See the technical notes section. Dash indicates data not available.\n Source: U.S. Bureau of Labor Statistics.', '', '', '', '', '']

     Year   Total   White   Black  Asian Hispanic Sex (M or F)
0    1979  $14.37  $14.60  $13.30    â€“   $13.20        Total
1    1980   14.01   14.19   12.91    â€“    12.91        Total
2    1981   13.70   13.78   13.03    â€“    12.79        Total
3    1982   13.53   13.71   12.68    â€“    12.56        Total
4    1983   13.44   13.61   12.38    â€“    12.24        Total
..    ...     ...     ...     ...    ...      ...          ...
115  2014   15.28   15.77   12.96  15.56    13.14          Men
116  2015   15.56   15.83   13.43  15.77    13.70          Men
117  2016   15.65   15.83   13.66  15.73    14.47          Men
118  2017   15.57   16.18   13.67  17.06    14.72          Men
119  2018   16.01   16.53   14.22  16.69    15.01          Men

[120 rows x 7 columns]

In [3]:
# Make the plots; plots of lots!